In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
ett_path='./data/ETT'

In [3]:
etth1_file = 'ETTh1.csv' 
etth2_file = 'ETTh2.csv' 
ettm1_file = 'ETTm1.csv'
ettm2_file = 'ETTm2.csv'

In [4]:
etth1 = pd.read_csv(os.path.join(ett_path, etth1_file))
etth2 = pd.read_csv(os.path.join(ett_path, etth2_file))
ettm1 = pd.read_csv(os.path.join(ett_path, ettm1_file))
ettm2 = pd.read_csv(os.path.join(ett_path, ettm2_file))

In [5]:
etth1.shape

(17420, 8)

In [6]:
etth2.shape

(17420, 8)

In [7]:
ettm1.shape

(69680, 8)

In [8]:
ettm2.shape

(69680, 8)

In [9]:
etth1.describe()

,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
count,17420.000000,17420.000000,17420.000000,17420.000000,17420.000000,17420.000000,17420.000000
mean,7.375141,2.242242,4.300239,0.881568,3.066062,0.856932,13.324672
std,7.067744,2.042342,6.826978,1.809293,1.164506,0.599552,8.566946
min,-22.705999,-4.756000,-25.087999,-5.934000,-1.188000,-1.371000,-4.080000
25%,5.827000,0.737000,3.296000,-0.284000,2.315000,0.670000,6.964000
50%,8.774000,2.210000,5.970000,0.959000,2.833000,0.975000,11.396000
75%,11.788000,3.684000,8.635000,2.203000,3.625000,1.218000,18.079000
max,23.643999,10.114000,17.341000,7.747000,8.498000,3.046000,46.007000

In [10]:
etth1

,date,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,2016-07-01 00:00:00,5.827,2.009,1.599,0.462,4.203,1.340,30.531000
1,2016-07-01 01:00:00,5.693,2.076,1.492,0.426,4.142,1.371,27.787001
2,2016-07-01 02:00:00,5.157,1.741,1.279,0.355,3.777,1.218,27.787001
3,2016-07-01 03:00:00,5.090,1.942,1.279,0.391,3.807,1.279,25.044001
4,2016-07-01 04:00:00,5.358,1.942,1.492,0.462,3.868,1.279,21.948000
...,...,...,...,...,...,...,...,...
17415,2018-06-26 15:00:00,-1.674,3.550,-5.615,2.132,3.472,1.523,10.904000
17416,2018-06-26 16:00:00,-5.492,4.287,-9.132,2.274,3.533,1.675,11.044000
17417,2018-06-26 17:00:00,2.813,3.818,-0.817,2.097,3.716,1.523,10.271000
17418,2018-06-26 18:00:00,9.243,3.818,5.472,2.097,3.655,1.432,9.778000
17419,2018-06-26 19:00:00,10.114,3.550,6.183,1.564,3.716,1.462,9.567000

In [11]:
etth2.shape

(17420, 8)

In [12]:
def generate_splits(df, config_name):
    start_date = df.index.min()
    
    if config_name in ["m1", "m2"]:
        factor = 4  # 15-min frequency
    else:
        factor = 1  # hourly frequency
        
    train_end_date_index = 12 * 30 * 24 * factor  # 1 year

    dev_end_date_index = train_end_date_index + 4 * 30 * 24 * factor  # 1 year + 4 months
    test_end_date_index = train_end_date_index + 8 * 30 * 24 * factor  # 1 year + 8 months

    return train_end_date_index, dev_end_date_index, test_end_date_index

In [13]:
etth1_train_ind, etth1_dev_ind, etth1_test_ind = generate_splits(etth1, "h1")

In [24]:
train = etth1.iloc[:etth1_train_ind,:]
dev = etth1.iloc[etth1_train_ind:etth1_dev_ind, :]
test = etth1.iloc[etth1_dev_ind:etth1_test_ind, :]

In [25]:
train

                     date   HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0     2016-07-01 00:00:00  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1     2016-07-01 01:00:00  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2     2016-07-01 02:00:00  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3     2016-07-01 03:00:00  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4     2016-07-01 04:00:00  5.358  1.942  1.492  0.462  3.868  1.279  21.948000
...                   ...    ...    ...    ...    ...    ...    ...        ...
8635  2017-06-25 19:00:00  7.770  0.201  4.762  0.675  2.985 -0.640  21.174000
8636  2017-06-25 20:00:00  9.042  0.335  5.650  0.675  3.381 -0.609  20.612000
8637  2017-06-25 21:00:00  8.372  0.536  5.472  0.391  3.290 -0.670  21.034000
8638  2017-06-25 22:00:00  8.975  0.737  6.254  1.031  3.107 -0.579  21.455999
8639  2017-06-25 23:00:00  9.980  1.072  6.610  1.173  2.772 -0.640  20.752001

[8640 rows x 8 columns]

In [27]:
dev

,date,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
8640,2017-06-26 00:00:00,10.851,1.808,8.031,2.132,2.680,-0.579,20.962999
8641,2017-06-26 01:00:00,9.712,1.206,7.427,1.741,2.345,-0.670,20.541000
8642,2017-06-26 02:00:00,9.243,1.474,6.148,1.670,2.833,-0.640,20.118999
8643,2017-06-26 03:00:00,8.975,1.674,6.325,1.777,2.467,-0.579,19.908001
8644,2017-06-26 04:00:00,9.980,1.005,7.143,1.812,2.284,-0.670,19.627001
...,...,...,...,...,...,...,...,...
11515,2017-10-23 19:00:00,8.707,1.005,4.797,-0.604,3.686,1.279,10.271000
11516,2017-10-23 20:00:00,8.105,0.938,4.371,-0.569,3.533,1.279,9.708000
11517,2017-10-23 21:00:00,7.167,1.206,4.087,-0.462,3.107,1.432,8.723000
11518,2017-10-23 22:00:00,7.100,1.340,4.015,-0.320,2.772,1.310,8.864000
11519,2017-10-23 23:00:00,9.176,2.746,7.107,1.635,2.650,1.097,9.004000

In [28]:
test

,date,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
11520,2017-10-24 00:00:00,9.980000,3.483,7.640,1.812,2.376,0.944,9.215
11521,2017-10-24 01:00:00,8.306000,2.143,6.290,0.995,2.010,0.822,9.145
11522,2017-10-24 02:00:00,8.774000,2.210,6.467,1.137,2.224,0.944,9.497
11523,2017-10-24 03:00:00,8.105000,2.746,6.432,0.853,1.980,0.975,9.075
11524,2017-10-24 04:00:00,8.439000,1.942,6.183,1.173,2.315,1.005,8.723
...,...,...,...,...,...,...,...,...
14395,2018-02-20 19:00:00,17.549000,2.813,12.189,1.137,5.361,0.579,0.000
14396,2018-02-20 20:00:00,18.285999,3.081,12.793,1.315,5.544,0.609,0.000
14397,2018-02-20 21:00:00,17.415001,2.746,12.260,1.244,5.239,0.609,1.899
14398,2018-02-20 22:00:00,15.807000,2.478,11.122,1.066,4.691,0.548,2.181
14399,2018-02-20 23:00:00,13.932000,2.210,9.879,0.995,3.990,0.518,2.321

In [14]:
ettm1_train_ind, ettm1_dev_ind, ettm1_test_ind = generate_splits(ettm1, "m1")

In [15]:
train = ettm1.iloc[:ettm1_train_ind,:]
dev = ettm1.iloc[ettm1_train_ind:ettm1_dev_ind, :]
test = ettm1.iloc[ettm1_dev_ind:ettm1_test_ind, :]

In [16]:
train

,date,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,2016-07-01 00:00:00,5.827,2.009,1.599,0.462,4.203,1.340,30.531000
1,2016-07-01 00:15:00,5.760,2.076,1.492,0.426,4.264,1.401,30.459999
2,2016-07-01 00:30:00,5.760,1.942,1.492,0.391,4.234,1.310,30.038000
3,2016-07-01 00:45:00,5.760,1.942,1.492,0.426,4.234,1.310,27.013000
4,2016-07-01 01:00:00,5.693,2.076,1.492,0.426,4.142,1.371,27.787001
...,...,...,...,...,...,...,...,...
34555,2017-06-25 22:45:00,9.444,1.072,6.290,1.528,2.894,-0.548,20.541000
34556,2017-06-25 23:00:00,9.980,1.072,6.610,1.173,2.772,-0.640,20.752001
34557,2017-06-25 23:15:00,9.645,1.474,7.214,2.132,2.955,-0.548,20.681999
34558,2017-06-25 23:30:00,10.918,2.344,7.604,2.239,2.833,-0.518,20.893000
34559,2017-06-25 23:45:00,11.119,2.210,8.422,2.345,2.833,-0.548,20.823000

In [17]:
dev

,date,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
34560,2017-06-26 00:00:00,10.851,1.808,8.031,2.132,2.680,-0.579,20.962999
34561,2017-06-26 00:15:00,10.516,2.411,7.427,2.772,2.559,-0.609,20.681999
34562,2017-06-26 00:30:00,9.645,1.741,6.858,1.777,2.437,-0.640,20.330000
34563,2017-06-26 00:45:00,9.779,1.407,7.391,1.706,2.376,-0.640,20.612000
34564,2017-06-26 01:00:00,9.712,1.206,7.427,1.741,2.345,-0.670,20.541000
...,...,...,...,...,...,...,...,...
46075,2017-10-23 22:45:00,9.645,3.148,6.610,1.350,2.863,1.188,9.286000
46076,2017-10-23 23:00:00,9.176,2.746,7.107,1.635,2.650,1.097,9.004000
46077,2017-10-23 23:15:00,9.779,2.679,6.752,1.599,2.376,0.975,9.286000
46078,2017-10-23 23:30:00,8.239,2.746,5.934,0.888,2.284,1.097,9.286000
46079,2017-10-23 23:45:00,9.712,3.282,6.787,1.528,2.315,1.005,9.215000

In [18]:
test

                      date    HUFL   HULL    MUFL   MULL   LUFL   LULL     OT
46080  2017-10-24 00:00:00   9.980  3.483   7.640  1.812  2.376  0.944  9.215
46081  2017-10-24 00:15:00   9.243  3.282   7.533  2.097  2.376  1.066  9.004
46082  2017-10-24 00:30:00   9.176  2.679   6.858  1.706  2.163  0.853  9.004
46083  2017-10-24 00:45:00   8.306  2.679   6.076  0.817  2.132  0.883  8.934
46084  2017-10-24 01:00:00   8.306  2.143   6.290  0.995  2.010  0.822  9.145
...                    ...     ...    ...     ...    ...    ...    ...    ...
57595  2018-02-20 22:45:00  14.200  2.277  10.127  1.031  4.021  0.518  2.040
57596  2018-02-20 23:00:00  13.932  2.210   9.879  0.995  3.990  0.518  2.321
57597  2018-02-20 23:15:00  13.061  2.076   9.488  0.959  3.686  0.548  2.532
57598  2018-02-20 23:30:00  12.525  2.009   8.955  0.853  3.533  0.579  2.744
57599  2018-02-20 23:45:00  11.989  1.875   8.635  0.746  3.381  0.548  2.673

[11520 rows x 8 columns]

In [33]:
'''
SimMTM samples split

etth_train_samples = 8545
etth_val_samples = 2881
etth_test_samples = 2881

ettm_train_samples = 34465
ettm_val_samples = 11521
ettm_test_samples = 11521
'''